<!DOCTYPE html>
{% load static %}
<html>

<head>

  <meta charset="utf-8">
  <title>Welcome</title>

  <!-- Font Awesome Icons -->
  <link href="{% static 'css/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static 'css/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">
  
  <link href="{% static 'css/style.css' %}" rel="stylesheet"> 
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="{% static 'js/javascript.js' %}"></script>


</head>



<body id='body'>
    <h1>Hi! I'm Rony Agus Vian</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id="accordion" class="accordion" style="padding-top: 35px">
                    <h4 class="acc-style">Activities</h4>
                    <div>
                        <li>Currently learning computer science at Faculty of Computer Science</li>
                        <li>I also start to mastering machine learning field</li>
                        <li>In my spare, i like to predict stock market base of fundamental and analytical</li>

                    </div>
                    <h4 class="acc-style">Organizations/Volunteer Experiences</h4>
                    <div>
                        <li>Junior member of Ristek Competitive Programming SIG</li>     
                    </div>
                    <h4 class="acc-style">Awards</h4>
                    <div>
                        <li>Finalist of ICPC Provinsial Vocompfest UGM 2019</li>
                        <li>Finalist of ICPC Provinsial Universitas Maranatha 2019</li>
                        <li>Contestant of ICPC Jakarta Regional 2019</li>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="down">
                    <p id="best" class="text-center" style="font-size: 50px; text-align: center; color:black"><strong>Great Mode</strong></p>
                    <label class="switch" for="lightmode">
                        <input type="checkbox" class="lightmode" id="lightmode">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</body>


</html>